*{
    font-family: 'poppings', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('/assets/images/hacker.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-attachment: fixed;
    min-height: 100vh;
}
#login-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 25vw;
    background-color: rgba(0,0,0,0.5);
    height: 50vh;
    border-radius: 3px;
}
h1{
    color: lightgreen;
    font-size: 2vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input-field{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.layer1{
    position: absolute;
    width: 5vw;
    height: 2vh;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.01);
    z-index: 4;
    top: 2vh;
    left: 0.15vw;
}
.layer2{
    position:absolute;
    width: 5.4vw;
    height: 2.5px;
    border-radius: 3px;
    background-color: white;
    z-index: 3;
    top: 3.11vh;
    left: 1.1vw;
}
input, button{
    width: 10vw;
    outline:none;
    font-size: 2.2vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    transition: 0.4s;
    z-index: 2;
    border: 0;
}

#username, #password {
    border-radius:3px;
    height: 3vh;
}
#username:focus + label[for="username"], #password:focus + label[for="password"]{
    color: rgb(117, 192, 117);
    font-size: 1.1vw;
    font-weight: bold;
    top: 1.9vh;
    right: 3.44vw; 
    z-index: 1111; 
}
#username:focus, #password:focus{
    border: 3px solid lightgreen;
}
label[for="username"], label[for="password"] {
    font-size: 1.1vw;
    
}
label[for="password"]{
    padding-right: 5px;
}

label{
    top: 3.5vh;
    right: 3.5vw;
    pointer-events: none;
    z-index: 5
}
#login:hover{
    background-color: rgb(117, 192, 117);
    border: 1px solid grey;
}
#login{
    border: 0;
    background: lightgreen;
    color: white;
    padding: 3px 0;
}
.placeholder{
    position: absolute;
    transition: 0.3s;
    pointer-events: none;
}
#sign-up-container{
    width:10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign-up-container-elements{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-right:1.6vw;  
    color: white;
}

p{
    
    font-size: 1vw;
    top: 0;
    left: 0;
    font-size: 0.8vw;
    margin-right: 0;
}
#sign-up{
    font-weight: bold;
    color: lightgreen;
    text-decoration: underline;
    margin-right: 2px;
    font-size: 1vw;
    
}
@media(min-width: 1280px){
    p{
        font-size: 0.8vw;
        margin-right: 0;
    }
    #sign-up{
        margin-right: 2px;
        font-size: 0.95vw;
    }
}
@media (max-width: 1000px) {
    body{
        background-image: none;
    }
    #login-container {
        width: 100vw;
        background-color: rgba(50,50,50);
        height: 100vh;
    }
    h1{
        font-size: 3vh;
    }
    input, button{
        width: 20vw;
    }
    label[for="username"], label[for="password"] {
        font-size: 2.2vw;
        top: 3vh;
        left: 0;
    }
    p{  
        position: absolute;
        font-size: 1.5vw;
        top:0;
        color: red;
        left:0vw;
    }
    #sign-up{
        position:absolute;
        font-size: 2vw;
        top: 0;
        right: 0;
    }
    #sign-up-container{
        position: relative;
        width: 20vw;
    }
    #username:focus + label[for="username"], #password:focus + label[for="password"]{
        color: rgb(117, 192, 117);
        font-size: 2.1vw;
        font-weight: bold;
        top: 2.1vh;
        left: 1vw; 
        z-index: 1111; 
    }
    #username:focus, #password:focus{
        border: 3px solid lightgreen;
    }
    .layer2{
        position:absolute;
        width: 11.5vw;
        height: 10px;
        border-radius: 3px;
        background-color: white;
        z-index: 3;
        top: 3vh;
        left: 1.1vw;
    }

}

@media (max-width: 1500){
    body{
        background-image: none;
    }
    #login-container {
        width: 100vw;
        background-color: rgba(50,50,50);
        height: 100vh;
    }
    h1{
        font-size: 3vh;
        color: blue;
    }
    input, button{
        width: 20vw;
    }
    label[for="username"], label[for="password"] {
        font-size: 2.2vw;
        top: 3vh;
        left: 0;
    }
    p{  
        position: absolute;
        font-size: 1.5vw;
        top:0;
        color: red;
        left:0vw;
    }
    #sign-up{
        position:absolute;
        font-size: 2vw;
        top: 0;
        right: 0;
    }
    #sign-up-container{
        position: relative;
        width: 20vw;
    }
    #username:focus + label[for="username"], #password:focus + label[for="password"]{
        color: rgb(117, 192, 117);
        font-size: 2.1vw;
        font-weight: bold;
        top: 0vh;
        left: 1vw; 
        z-index: 1111; 
    }
    #username:focus, #password:focus{
        border: 3px solid lightgreen;
    }
    .layer2{
        position:absolute;
        width: 11.5vw;
        height: 10px;
        border-radius: 3px;
        background-color: white;
        z-index: 3;
        top: 3vh;
        left: 1.1vw;
    }
}





