<body>
    <div id="login-container">

        <header>
            <h1>Login</h1>
        </header>
        <form>
            <label class="login-page" class="placeholder" for="username">Username</label>
            <input class="login-page" type="text" id="username" >
            <br>
            <label class="login-page" class="placeholder" for="password">Password</label>
            <input class="login-page" type="password" id="password">
            <br>        
            <br>
            <input class="login-page" type="submit" value="Login">
            <div id="sign-up-container">
                <p class="sign-up-container-elements">New here?</p>
                <a class="sign-up-container-elements" id="sign-up">Sign-up</a>
            </div> 
        </form>
           
    </div>
</body>


