<div id="login-container">
    <header>
        <h1>Login</h1>
    </header>
        <label class="login-page" for="username">Username</label>
        <input class="login-page" type="text" id="username" >
        <label class="login-page" for="password">Password</label>
        <input class="login-page" type="password" id="password">
        <br>
        <br>
        <button class="login-page" type="button" id="sign-up">Sign-up</button>
        <input class="login-page" type="submit" value="Login">
</div>

