<body>
    <div id="login-container">
        <header>
            <h1>Login</h1>
        </header>
        <form>
            <div class="input-field">
                <div class="layer1"></div>
                <div class="layer2"></div>
                <input class="login-page" type="text" id="username">
                <label class="login-page placeholder" for="username">Username</label>
            </div>
            <div class="input-field">
                <div class="layer1"></div>
                <div class="layer2"></div>
                <input class="login-page" type="password" id="password">
                <label class="login-page placeholder" for="password">Password</label>
            </div>
            <input id= "login" class="login-page" type="submit" value="Login">
            <div id="sign-up-container">
                <p class="sign-up-container-elements">New here?</p>
                <a class="sign-up-container-elements" id="sign-up">Sign-up</a>
            </div> 
        </form>
    </div>
</body>


